{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_cveteval/role


    Example context (json):
    {
        "useridformatted": "FULL NAME",
        "userid": 2,
        "clsituationidformatted": "IDNUMBER"
        "clsituationid": 5
        "type": 1
        "typeformatted": "IDNUMBER"
    }
}}
<div class="cveteval-persistent-card card">
    <h4 class="card-header">{{#str}}role:entity, local_cveteval{{/str}}</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{#str}}role:userid, local_cveteval{{/str}}: {{useridformatted}}</li>
        <li class="list-group-item">{{#str}}role:clsituationid, local_cveteval{{/str}}: {{clsituationidformatted}}</li>
        <li class="list-group-item">{{#str}}role:type, local_cveteval{{/str}}: {{typeformatted}}</li>
    </ul>
    <div class="card-footer text-muted">{{>local_cltools/persistent_info}}</div>
</div>